<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by Charlie O'Hara, a code newbie excited to be part of the Firehose Project.
  </p>
  <p>
    Want to build your own Splurty?  Check out the <a class="about" target="_blank" href="http://www.thefirehoseproject.com/">Firehose Project.</a>
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'charlie.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Charlie O'Hara</h2>
    <br />
    <p>
      Charlie O'Hara is excited to be sinking his teeth into computer programming.   He earned his bachelor's degree in biology from UC Santa Barbara and had been exploring community college classes in engineering before finally finding his calling as a developer. 
    </p>
    <br />
    <p>
      There is a lot of satisfaction in solving all the small puzzles that.   Even after hours of struggle, Charlie finds so much satisfaction in being able to punch his fist in the air at the end of a coding victory.
    </p>
    <br />
    <p>
    If you want to see what Charlie is working on, check out his <a class="about"target="_blank" href="https://github.com/cbohara?tab=repositories">github</a> account!
  </p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />