@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.clear{
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 30px;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #f84342;
  font-family: 'chunkfiveroman', sans-serif;
  text-decoration: none;
  text-align: right;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1 {
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 30px;
}

h2 {
  font-family: 'chunkfiveroman', sans-serif;
}

.next-quote{
  color: black;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.next-quote:hover {
  text-decoration: none;
}

.footer-blurb {
  color: black;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 20px;
  text-align: right;
}

.logo:hover {
  text-decoration:none;
}

.about {
  font-family: 'Ubuntu', sans-serif;
}


.modal {
  font-family: 'Ubuntu', sans-serif;
}

h2 span {
  font-family: 'chunkfiveroman', sans-serif;
  color: #dddddd;
}

::selection {
  background-color: #f84342;
}

.about a {
  text-decoration: none;
}